<div class="container">
    <dvi class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <mat-error class="alert alert-primary"> update avatar success!!!</mat-error>
                <br>
                <br>
                <button (click)="reload()" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Ok
                    <mat-icon color="accent" matSuffix>login</mat-icon>
                </button>
            </mat-card>
        </div>
    </dvi>
</div>
